
body {
    margin: 0;
}

canvas {
    display: block;
}


#hero{
    width: 100%; 
    height: 500px; 
    border: 3px solid blue ; 
}
#c{
width: 50px; 
border: 3px solid red; 

}

#d{
    width: 50px; 

    }