
* {
    margin: 0;
    padding:0; 
}
canvas{
    display: block; 
}

#hero{
    width: 100%; 
    height: 500px; 
    border: 3px solid blue ; 
}
#myCanvas{
    width: 100vw; 
    height: 100%;
border: 3px solid red; 

}

